<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
      <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid1x2">
      <img class="block-showcase__image" src="Images/ipad.png" alt="">
      <ul class="list">
        <li>
          <div class="media">
          <div class="media__image">
            <div class="icon icon--primary"><img src="Images/chevron.svg" alt="Not" /></div>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Manage Update</h3>
            <p>
              Our cloud plans include easy onboarding for new and existing sites and
              managed WordPress and WooCommerce auto-updates. ing for new and existing sites and
              managed WordPress and WooCommerce auto-updates.ing for new and existing sites and
              managed WordPress and WooCommerce auto-updates
            </p>
          </div>
        </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <div class="icon icon--primary"><img src="Images/chevron.svg" alt="Not" /></div>
            </div>
            <div class="media__body">
              <h3 class="media__title">Staging, GIT & WP-CLI</h3>
              <p>
                Our cloud plans include easy onboarding for new and existing sites and
                managed WordPress and WooCommerce ing for new and existing sites and
                managed WordPress and WooCommerce auto-updatesauto-updatesing for new and existing sites and
                managed WordPress and WooCommerce auto-updates
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <div class="icon icon--primary"><img src="Images/chevron.svg" alt="Not" /></div>
            </div>
            <div class="media__body">
              <h3 class="media__title">Dynamic Caching $ More</h3>
              <p>
                Our cloud plans include easy onboarding for new and existing sites and
                managed WordPress and WooCommerceing for new and existing sites and
                managed WordPress and WooCommerce auto-updates auto-updatesing for new and existing sites and
                managed WordPress and WooCommerce auto-updates
              </p>
            </div>
          </div>
        </li>
      </ul>
  </section>